.font-sample-card{
    width:100%;
    cursor:pointer;
}
.font-sample-card.loading .font-sample-text{
    display:none;
}
.font-sample-card:hover{
    background-color: #f9f9f9;
}
.font-sample-container {
    padding: 1em 1em;
}
.font-sample-name{
    font-size:1em;
    margin-bottom:0.5em;
    border-bottom:1px solid #ccc;
    padding:0 0.5em 1em 0.5em;
}
.font-sample-text{
    font-size: 2em;
    padding:0.5rem;
}
@media (min-width : 768px) {
    .font-sample-card{
        width:33.3%;
    }
}
@media (min-width : 992px) {
    .font-sample-card{
        width:25%;
    }
}
.text-placeholder,.font-sample-text{
    min-height: 200px;
}
.text-placeholder:before{
    content:"░░░░░░ ░░░░░░░░ ░░░░░░░░░ ░░░░░░░░";
    font-size: 2rem;
    color: rgba(0,0,0,0.1);
}
